<!-- templates/hoodies_cart.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/hoodies'>
    <fieldset>
    <legend>Cart</legend>
    {% for hoodie in cart_hoodie %}
        <h1>Item:</h1>
        <h3>{{hoodie.title}}</h3>
        <h3>{{hoodie.description}}</h3>
        <h3>{{hoodie.title}} is in your cart</h3>
        <!-- <p>
            <form method='POST' action='/hoodies/{{ hoodie._id }}/delete'>
                <button type='submit'>Delete</button>
            </form>
        </p> -->
        {% include '/partials/delete_item_button.html' %}
        <p>____________________________________________________________________________</p>
    {% endfor %}
    <p>
        <button type='submit'>Back to all hoodies!</button>
    </p>
</form>
{% endblock %}