<!-- templates/hoodies_index.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Hoody.</h1>
    <a href='/hoodies/cart'>View Cart</a>

    {% if hoody_items %}
        {% for hoodie in hoody_items %}
            <h2><a href='/hoodies/{{ hoodie._id }}'>{{ hoodie.title }}</a></h2>
            <small>{{ hoodie.description }}</small>
            {% include '/partials/add_to_cart_button.html' %}
            <p>____________________________________________________________________________</p>
        {% endfor %}
    {% endif %}
{% endblock %}